.header {
    display: flex;
  }
  .logo {
    width: 150px;
    height: 150px;
    margin-right: 5%;
  }
  
  .form {
    width: 100%;
    margin-top: 70px;
    margin-left: 10%;
  }

  #moviePageHomeBtn{
      margin-left: 50px;
      margin-top: 5px;
  }