  .header {
    display: flex;
    margin-bottom: 5%;
    margin-right: 5%;
  }
  .logo {
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .form {
    width: 100%;
  }
  
.moviesContainer{
    display: flex;
    flex-wrap: wrap;
}